[submodule "plugins/vim-powerline"]
	path = plugins/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "fonts/SourceCodePro"]
	path = fonts/SourceCodePro
	url = https://github.com/ryanmcilmoyl/sourceCodePro-Powerline.git
[submodule "plugins/vim-scratch"]
	path = plugins/vim-scratch
	url = https://github.com/duff/vim-scratch.git
